@model ShoppingCartViewModel

<div class="row checkoutFrom">
    <h2> Your shopping cart </h2>
    <h4> </h4>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th> Selected amount</th>
                <th> Coffee </th>
                <th class="text-right"> Price </th>
                <th class="text-right"> Subtotal</th>
                <th></th>
            </tr>
        </thead>
    

<tbody>
    @foreach (var line in Model.ShoppingCart.GetShoppingCartItems())
    {
        <tr>
             <td class="text-center">@line.Amount</td>
             <td class="text-left"> @line.Coffee.Name</td>
             <td class="text-right"> @line.Coffee.Price.ToString("c")</td>
             <td class="text-right">
               @((line.Amount * line.Coffee.Price).ToString("c"))
            </td>
       <td class="text-center"><a class="glyphicon glyphicon-remove text-danger remove" asp-controller="ShoppingCart" asp-action=""></a></td>
       </tr> 
    }
<tfood>
        <tr>
            <td colspan="3" class="text-right">Total</td>
            <td class="text-right">
                @Model.ShoppingCartTotal.ToString("c")
            </td>
        </tr>
</tfood>
</table>

<div class="text-right">
    <div class="btn-group">
        <a class="btn btn-success" asp-controller="Order" asp-action="Checkout"> Check out</a>
        <a class=" btn-group">
        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Add more coffee <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a asp-controller="Coffee" asp-action="List" asp-route-category="Coffee"> White Coffees </a></li>
            <li><a asp-controller="Coffee" asp-action="List" asp-route-category="Black Coffee"> Black Coffees </a></li>
        </ul>
        </a>
    </div>

</div>
</div>